@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Red Hat Display", sans-serif;
  min-height: 100vh;
  background-image: url(images/pattern-background-desktop.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: hsl(225, 100%, 94%);
  position: relative;
  font-size: 16px;
}

.container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 450px;
  background: white;
  border-radius: 20px;
  overflow: hidden;
}

.text-area {
  padding: 7%;
  text-align: center;
}

.title {
  color: hsl(223, 47%, 23%);
  font-weight: 900;
  font-size: 32px;
  margin-bottom: 20px;
}

.text-area p.subtitle {
  color: hsla(223, 23%, 55%, 1);
  margin-bottom: 25px;
  padding: 12px;
}

.plan-area {
  background-color: hsla(228, 100%, 99%, 1);
  border-radius: 12px;
  display: flex;
  padding: 25px;
  align-items: center;
  justify-content: space-between;
}
.plan-box {
  display: flex;
  align-items: center;
  text-align: left;
  margin-left: 20px;
}

.plan-box div {
  margin-left: 20px;
}

.plan-box div h5 {
  font-weight: 900;
  font-size: 15px;
  color: hsla(223, 46%, 23%, 1);
}

.plan-box div p {
  font-size: 14px;
  color: hsla(224, 23%, 55%, 1);
}

.plan-area a {
  font-weight: 700;
  font-size:14px;
  color: hsla(245, 75%, 52%, 1);
}

.plan-area a:hover {
  text-decoration: none;
  color: hsla(245, 83%, 68%, 1);
}

a.proceed-btn {
  display: block;
  text-decoration: none;
  color: white;
  background-color: hsla(245, 75%, 52%, 1);
  box-shadow:0px 20px 20px rgba(56, 42, 225, 0.190291);
  border-radius: 12px;
  padding: 12px;
  margin: 30px 0;
}

a.proceed-btn:hover {
  background-color: hsla(245, 83%, 68%, 1);
}

a.cancel-btn {
  color: hsla(224, 23%, 55%, 1);
  text-decoration: none;
  font-weight: 900;
  font-size:15px;
}
a.cancel-btn:hover {
  color: hsla(223, 47%, 23%, 1);
}
